[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
schedule = "*"
pystray = "*"
pyyaml = "*"
fire = "*"
pygobject = "*"

[dev-packages]

[requires]
python_version = "3.9"
